<main class="p-4">
  <a class="mt-4 text-blue-500 hover:underline" [routerLink]="['/home']"
    >Go to home</a
  >

  <section class="mt-4 p-3 bg-gray-200 rounded-lg shadow-md">
    <p class="text-gray-700">The count is: {{ count() }}</p>
    <p class="text-gray-700">The double count is {{ doubleCount() }}</p>
    <button
      class="px-3 py-1 mt-4 bg-blue-500 text-white rounded hover:bg-blue-700"
      (click)="setCount()">
      Set
    </button>
    <button
      class="px-3 py-1 ml-3 bg-green-500 text-white rounded hover:bg-green-700"
      (click)="increaseCount()">
      +
    </button>
    <button
      class="px-3 py-1 ml-3 bg-red-500 text-white rounded hover:bg-red-700"
      (click)="decreaseCount()">
      -
    </button>
    <p class="mt-4 text-gray-700">{{ notifyCount }}</p>
  </section>

  <button
    class="mt-7 mb-2 px-3 py-1 bg-blue-500 text-white rounded hover:bg-purple-700"
    [disabled]="!hasMoreCharacters"
    (click)="onChangeCharacters()">
    Change characters
  </button>
  <section
    class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-8 gap-4">
    <div
      class="p-4 bg-gray-200 rounded-lg shadow-md"
      *ngFor="let character of characters">
      <img class="rounded w-full h-auto" [src]="character.image" alt="" />
      <span class="block mt-2 text-center text-gray-700">{{
        character.name
      }}</span>
    </div>
  </section>
</main>
